{{ define "main" }}
<div class="uk-container uk-container-expand uk-animation-slide-bottom-small">
    <div class="hero uk-background-image uk-background-cover uk-background-muted uk-flex uk-flex-center uk-flex-middle" uk-height-viewport="offset-bottom: 30" style="background-image: url('/uploads/IMG_3698.jpg');">
        <div class="hero-inner uk-text-center">
            <h1 class="uk-margin-remove">Introducing Floral Club</h1>
            <p style="color:#000">Never Forget Another Special Moment. Business or home, scheduled floral deliveries take all the pressure off those forgotten moments.</p>
            <p style="color:#000">Whether you're in the office or at home, or simply treating yourself, let us handle the beauty.</p>
        </div>
    </div>
</div>

<div class="uk-section" uk-scrollspy="cls:uk-animation-slide-bottom-small;delay:300">
    <div class="uk-container">
        <div class="uk-child-width-1-2@s uk-flex uk-flex-center uk-flex-middle" uk-grid>
            <div>
                <div>
                    <h2>Personalized Arrangements, Expertly Crafted</h2>
                    <p>Starting May 1st, we're delighted to introduce our floral club. Choose from weekly, bi-weekly, or monthly deliveries, tailored to your preferences.</p>
                    <p>We're a small, dedicated team – a mom and her daughters – committed to delivering our best with every arrangement. Secure your local deliveries today; time slots are limited.</p>
                    <a href="/contact/" class="uk-button uk-button-primary">Get in Touch</a>
                </div>
            </div>
            <div>
                <img src="/uploads/IMG_3750.jpg" alt="red and purple flowers" style="box-shadow: 50px 50px 0px 0px #e3a6ae;" width="500">
            </div>
        </div>
    </div>
</div>

<div class="uk-section" uk-scrollspy="cls:uk-animation-slide-bottom-small;delay:300">
    <div class="uk-container">
        <div class="uk-child-width-1-2@s uk-flex uk-flex-center uk-flex-middle" uk-grid>
            <div>
                <img src="/uploads/IMG_3711.jpg" alt="purple flowers" style="box-shadow: 50px 50px 0px 0px #e3a6ae;" width="500">
            </div>
            <div>
                <div>
                    <h2>Elevate Your Space with Fresh Florals</h2>
                    <p>Discover the joy of fresh florals! Did you know they release dopamine, the "pleasure hormone," boosting positivity, energy, and happiness? Enroll by May 1st for a surprise gift!</p>
                    <ul style="margin-left:30px">
                        <li>4-5 Inch Cylinder or Square Arrangements: Starting at <strong>$50</strong></li>
                        <li>7 x 3.5 Arrangements: Starting at <strong>$75</strong></li>
                        <li>10-Inch Arrangements: Starting at <strong>$125</strong></li>
                        <li>Wooden Box Garden Settings: Starting at <strong>$95</strong></li>
                    </ul>
                    <p><em>Sizing based on containers only</em></p>
                    <p>Tell us your preferences! We'll tailor your arrangements to match your style and preferences while ensuring quality and longevity with seasonal blooms.</p>
                    <a href="/contact/" class="uk-button uk-button-primary">Get in Touch</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="uk-section"></div>
{{ end }}