<div class="top-navbar">
    <nav uk-navbar style="background:#e7c0c9">
        <div class="uk-navbar-right">
            <ul class="uk-navbar-nav">
                <li class="uk-active"><a href="#">Active</a></li>
                <li>
                    <a href="#">Parent</a>
                    <div class="uk-navbar-dropdown">
                        <ul class="uk-nav uk-navbar-dropdown-nav">
                            <li class="uk-active"><a href="#">Active</a></li>
                            <li><a href="#">Item</a></li>
                            <li><a href="#">Item</a></li>
                        </ul>
                    </div>
                </li>
                <li><a href="#">Item</a></li>
            </ul>
        </div>
    </nav>
</div>
<nav class="uk-navbar-container" uk-navbar>
    <div class="uk-navbar-center" style="padding-top:20px;">
        <a class="uk-navbar-item uk-logo" href="{{ .Site.BaseURL }}">
            <img src="/uploads/corylynn-deg-logo.png" alt="">
        </a>
    </div>
</nav>
<nav class="uk-navbar-container" uk-navbar style="border-top:1px solid #ccc;margin-top:20px">
    <div class="uk-container">
        <div class="uk-navbar-center">

            <ul class="uk-navbar-nav">
                <li class="uk-active"><a href="#">Home</a></li>
                <li>
                    <a href="#">About</a>
                    <div class="uk-navbar-dropdown">
                        <ul class="uk-nav uk-navbar-dropdown-nav">
                            <li class="uk-active"><a href="#">Active</a></li>
                            <li><a href="#">Item</a></li>
                            <li class="uk-nav-header">Header</li>
                            <li><a href="#">Item</a></li>
                            <li><a href="#">Item</a></li>
                            <li class="uk-nav-divider"></li>
                            <li><a href="#">Item</a></li>
                        </ul>
                    </div>
                </li>
                <li><a href="/gallery">Gallery</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
    
        </div>
    </div>
</nav>