<div class="uk-section" style="background: #fff;position: relative" uk-scrollspy="cls:uk-animation-slide-bottom-small;delay:300">
    <div class="uk-container uk-container-large bg-box" style="position:relative">
        <div class="uk-child-width-1-3@s uk-dark uk-text-center" uk-grid>
            <a href="/services/engagements-and-weddings/">
                <div>
                    <div class="uk-cover-container">
                        <canvas height="400"></canvas>
                        <img src="uploads/secret-garden.jpg" alt="" uk-cover>
                    </div>
                    <h2>Engagements & Weddings</h2>
                </div>
            </a>
            <a href="">
                <div>
                    <div class="uk-cover-container">
                        <canvas height="400"></canvas>
                        <img src="uploads/holiday.jpg" alt="" uk-cover>
                    </div>
                    <h2>Holiday Designs</h2>    
                </div>
            </a>
            <a href="">
                <div>
                    <div class="uk-cover-container">
                        <canvas height="400"></canvas>
                        <img src="uploads/events.jpg" alt="" uk-cover>
                    </div> 
                    <h2>Photoshoots</h2>    
                </div>
            </a>
        </div>
    </div>

</div>