<div class="uk-section">
    <div class="uk-container">
        <div class="uk-child-width-1-2@s uk-flex uk-flex-center uk-flex-middle" uk-grid>
            <div>
                <div>
                    <h1>Corylynn Deg</h1>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magni, libero, quidem debitis suscipit officia itaque eum voluptas illo repellendus, eligendi velit officiis alias corporis laboriosam exercitationem odit assumenda quisquam harum.</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum amet qui unde rerum a itaque expedita inventore? Nihil blanditiis rerum labore voluptas maiores, quod officia quo animi iusto a eveniet?</p>
                    <a href="" class="uk-button uk-button-primary">Get in Touch</a>
                </div>
            </div>
            <div>
                <img src="/uploads/profile.jpg" alt="" style="box-shadow: 50px 50px 0px 0px #e3a6ae;" width="500">
            </div>
        </div>
    </div>
</div>