<div class="uk-section">
    <div class="uk-container">
        <div class="uk-child-width-1-2@s uk-flex uk-flex-center uk-flex-middle" uk-grid>
            <div>
                <div>
                    <h1>Corylynn Deg</h1>
                    <p>My name is Corylynn and I am the owner and Lead Floral designer at Corylynn Deg Design.</p>
                    <p>I have been a floral, event and holiday designer for over 20 years. I have taught art , floral design as well as arts and craft to children and adults alike . I specialize in wedding floral , interior design silk floral, hand painted event decor and am well known for luxury designed Christmas trees. </p>
                    <p>My inspiration comes from my two daughters. As a single mom, the one thing that always brightens my day is their beautiful smiles. They have encouraged me to the best me. When Im finished with a design, I look for that in each client; a beautiful smile.</p>
                    <p>I am passionate about color, attentive to detail and love to think outside of the box. </p>
                    <p>There’s noting that makes me happier than connecting with people and listening to their dreams and inspirations. </p>
                    <p>Telling each individuals story through the artistry of design is something I strive for. </p>
                    <a href="/contact/" class="uk-button uk-button-primary">Get in Touch</a>
                </div>
            </div>
            <div>
                <img src="/uploads/bride-and-groom.jpg" alt="" style="box-shadow: 50px 50px 0px 0px #e3a6ae;" width="500">
            </div>
        </div>
    </div>
</div>