<div class="line"></div>
<div class="uk-section uk-section-small" style="position: relative;">
    <img src="/uploads/flower.png" class="flower" alt="">
    <div class="uk-container">
        <div class="uk-text-center">
            <h4 class="uk-text-uppercase">Wedding and Floral</h4>
            <h1 style="margin-top:5px;">Brighten up your events</h1>
            <p style="font-size:20px">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione, reiciendis repellat vel odio perspiciatis dolores fugit velit maiores, tempora itaque corrupti cupiditate! Asperiores eaque reiciendis eveniet, explicabo animi commodi voluptas.</p>
        </div>
    </div>
</div>