<div class="line"></div>
<div class="uk-section uk-section-small" style="position: relative;" uk-scrollspy="cls:uk-animation-slide-bottom-small;delay:300">
    <img src="/uploads/flower.png" class="flower" alt="">
    <div class="uk-container">
        <div class="uk-text-center">
            <h4 class="uk-text-uppercase">Weddings and Floral</h4>
            <h1 style="margin-top:5px;">Brighten up your events</h1>
            <p style="font-size:20px">I pride myself on my ability to design and create stunning event décor. Whether you are looking for wedding floral, interior design silk floral, or hand-painted event decor, I have the skills and experience to exceed your expectations.</p>
        </div>
    </div>
</div>